<ul> Great video clips from some older movies
  <li><%= link_to "Friends", friends_video_path %></li>
  <li><%= link_to "Gladiator", gladiator_video_path %></li>
  <li><%= link_to "Matilda", matilda_video_path %></li>
  <li><%= link_to "Seinfeld", seinfeld_video_path %></li>
</ul>

<%= params %>
<%= params.class %>
<%= params[:query] %>
<%= params[:browser] %>